<!-- Modal -->
<div
  class="modal fade"
  id="login-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="login-modal-lable"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="login-modal-title">Login</h5>
        <button
          type="button"
          id="close-login-modal"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              email
              required
              name="email"
              ngModel
              #email="ngModel"
              (change)="onChange(email)"
              id="email"
              class="form-control"
              [ngClass]="{
                'is-valid': email.valid,
                'is-invalid': email.touched && email.invalid
              }"
              type="email"
              aria-describedby="email-help"
            />
            <div
              class="invalid-feedback"
              *ngIf="email.touched && email.invalid"
            >
              Your email invalid!!!
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              required
              name="password"
              ngModel
              #password="ngModel"
              (change)="onChange(password)"
              id="password"
              class="form-control"
              [ngClass]="{
                'is-valid': password.valid,
                'is-invalid': password.touched && password.invalid
              }"
              type="password"
              aria-describedby="password-help"
            />
            <div
              class="invalid-feedback"
              *ngIf="password.touched && password.invalid"
            >
              Please type your password!!!
            </div>
          </div>
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success float-right">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
