<div class="comment-box my-3">
  <div class="card p-3">
    <div class="row">
      <div class="col-12">
        <div class="card-body">
          <h5 class="card-title">{{ nameCurrentUser }}</h5>
          <form
            id="comment-form"
            #commentForm="ngForm"
            (ngSubmit)="onSubmit(commentForm)"
          >
            <textarea
              class="my-3 form-control"
              required
              minlength="5"
              rows="5"
              ngModel
              name="commentContent"
              #commentContent="ngModel"
              [ngClass]="{
                'is-valid': commentContent.valid,
                'is-invalid': commentContent.touched && commentContent.invalid
              }"
            ></textarea>
            <div
              class="invalid-feedback"
              *ngIf="commentContent.touched && commentContent.invalid"
            >
              <ng-container *ngIf="commentContent.errors.required"
                >Please fill your name!!!</ng-container
              >
              <ng-container *ngIf="commentContent.errors.minlength"
                >Name should be minimum
                {{ commentContent.errors.minlength.requiredLength }}
                characters!!!</ng-container
              >
            </div>
            <button class="card-link float-right btn btn-success">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row px-3" *ngFor="let comment of comments">
      <comment-item [comment]="comment"></comment-item>
    </div>
  </div>
</div>
