<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-brand btn btn-info" [routerLink]="['/']">
        &lt;TECH BLOG&gt;
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <ng-container *ngIf="tokenResponse !== null">
            <li class="nav-item active mx-3">
              <span class="nav-link">{{ tokenResponse.nameDisplay }}!!!</span>
            </li>
            <li
              class="nav-item active mx-3"
              *ngIf="tokenResponse.role === 'Admin'"
            >
              <a class="nav-link btn btn-dark" [routerLink]="'/admin'"
                >Manager System</a
              >
            </li>
            <li class="nav-item active mx-3">
              <a
                class="nav-link btn btn-outline-light"
                [routerLink]="'/blogs/create'"
                >Post A Blog</a
              >
            </li>
            <li class="nav-item active mx-3">
              <a class="nav-link btn btn-warning" (click)="onClickLogout()"
                >Logout</a
              >
            </li>
          </ng-container>
          <ng-container *ngIf="tokenResponse === null">
            <li class="nav-item active mx-3">
              <a
                id="login-modal-button"
                class="nav-link btn btn-outline-success"
                data-toggle="modal"
                data-target="#login-modal"
                >Login</a
              >
            </li>
            <li class="nav-item active mx-3">
              <a
                id="register-modal-button"
                class="nav-link btn btn-outline-light"
                data-toggle="modal"
                data-target="#register-modal"
                >Register</a
              >
            </li>
          </ng-container>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            name="searchString"
            [(ngModel)]="searchString"
          />
          <button
            class="btn btn-secondary my-2 my-sm-0"
            type="submit"
            (click)="onClickSearch()"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
<login-modal></login-modal>
<register-modal></register-modal>
