<!-- Delete Modal -->
<div
  class="modal fade"
  id="delete-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delete-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="delete-modal-title">
          Delete
        </h5>
        <button
          type="button"
          id="close-delete-modal"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-container *ngIf="tag !== null">
        <div class="modal-body">
          <h5>
            Are u sure delete tag
            <span class="btn btn-info"> #{{ tag.name }} </span> ?
          </h5>
          <p>
            Have
            <a target="_blank" [href]="tag.name"> {{ sumBlogs }} blog </a>
            user this tag.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            (click)="onClick(tag.id)"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Delete
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
