<div class="col-sm-9 mt-3">
  <h1>404</h1>
  <h2>Oops! This Page Could Not Be Found</h2>
  <p>
    Sorry but the page you are looking for does not exist, have been removed.
    name changed or is temporarily unavailable
  </p>
  <a class="btn btn-large btn-primary" [routerLink]="'/'">Go To Homepage</a>
</div>
