<footer class="border-top footer text-muted mt-3">
  <div class="container">
    <div class="col-12">
      <h5
        class="btn btn-link"
        *ngFor="let item of linkItems"
        [routerLink]="item.link"
      >
        {{ item.title }}
      </h5>
    </div>
    <div class="col-12">
      &copy; 2020 - TechBlog -
      <a>Privacy</a>
    </div>
  </div>
</footer>
