<div class="col-sm-9 mt-3">
  <div class="title">
    <h1>
      About TechBlog
    </h1>
  </div>
  <div class="body">
    <p>
      DEV is a community of software developers getting together to help one
      another out. The software industry relies on collaboration and networked
      learning. We provide a place for that to happen.
    </p>

    <p>
      Our application is
      <a href="https://github.com/thepracticaldev/dev.to">open source</a>,
      meaning you can inspect every little detail of the code, or chip in
      yourself! We are
      <a href="https://dev.to/devteam/the-future-of-dev-160n"
        >working to make our platform available</a
      >
      for anyone to stand up similar communities in any niche or passion.
    </p>

    <p>
      We believe in transparency and adding value to the ecosystem. We hope you
      poke around and like what you see!
    </p>

    <h2>
      <a name="leadership" href="#leadership" class="anchor"> </a>
      <strong>Leadership</strong>
    </h2>

    <p>
      Our company is led by
      <a href="https://dev.to/ben">Ben Halpern</a> (Co-CEO),
      <a href="https://dev.to/jess">Jess Lee</a> (COO) and
      <a href="https://dev.to/peter">Peter Frank</a> (Co-CEO).
    </p>

    <h2>
      <a name="team" href="#team" class="anchor"> </a>
      <strong>Team</strong>
    </h2>

    <p>
      Our team is distributed around the world. We have no office, but we come
      together online each day to build community and improve the software
      careers of millions.
    </p>

    <p>Happy coding ❤️</p>
  </div>
</div>
