<h3>Introduction</h3>
<p>
  When writing JavaScript, we often have to deal with tasks that rely on other
  tasks! Let's say that we want to get an image, compress it, apply a filter,
  and save it 📸
</p>
<p>
  The very first thing we need to do, is <i>get</i> the image that we want to
  edit. A getImage function can take care of this! Only once that image has been
  loaded successfully, we can pass that value to a resizeImage function. When
  the image has been resized successfully, we want to apply a filter to the
  image in the applyFilter function. After the image has been compressed and
  we've added a filter, we want to save the image and let the user know that
  everything worked correctly! 🥳
</p>
<p>In the end, we'll end up with something like this:</p>
<figure class="image">
  <img
    src="https://localhost:44324/images/blogs/ckeditor5/20200417094641705/description.jpg"
  />
</figure>
<p>
  Hmm... Notice anything here? Although it's... <i>fine</i>, it's not great. We
  end up with many nested callback functions that are dependent on the previous
  callback function. This is often referred to as a
  <a href="http://callbackhell.com/"><i>callback hell</i></a
  >, as we end up with tons of nested callback functions that make the code
  quite difficult to read!
</p>
<p>
  Luckily, we now got something called <strong>promises</strong> to help us out!
  Let's take a look at what promises are, and how they can help us in situations
  like these! 😃
</p>
<h3>Promise Syntax</h3>
<p>
  ES6 introduced <strong>Promises</strong>. In many tutorials, you'll read
  something like:
</p>
<blockquote>
  <p>
    "A promise is a placeholder for a value that can either resolve or reject at
    some time in the future"
  </p>
</blockquote>
<p>
  Yeah... That explanation never made things clearer for me. In fact it only
  made me feel like a Promise was a weird, vague, unpredictable piece of magic.
  So let's look at what promises <i>really</i> are.
</p>
<p>
  We can create a promise, using a Promise constructor that receives a callback.
  Okay cool, let's try it out!
</p>
<p>Wait woah, what just got returned?</p>
<p>
  A Promise is an object that contains a <strong>status</strong>,
  ([[PromiseStatus]]) and a <strong>value</strong> ([[PromiseValue]]). In the
  above example, you can see that the value of [[PromiseStatus]] is "pending",
  and the value of the promise is undefined.
</p>
<p>
  Don't worry - you'll never have to interact with this object, you can't even
  access the [[PromiseStatus]] and [[PromiseValue]] properties! However, the
  values of these properties are important when working with promises.
</p>
<p>
  The value of the PromiseStatus, the <strong>state</strong>, can be one of
  three values:
</p>
<ul>
  <li>
    ✅ fulfilled: The promise has been resolved. Everything went fine, no errors
    occurred within the promise 🥳
  </li>
  <li>
    ❌ rejected : The promise has been rejected. Argh, something went wrong..
  </li>
  <li>
    ⏳ pending: The promise has neither resolved nor rejected (yet), the promise
    is still pending.
  </li>
</ul>
<p>
  Alright this all sounds great, but <i>when</i> is a promise status "pending",
  "fulfilled" or "rejected"? And why does that status even matter?
</p>
<p>
  In the above example, we just passed the simple callback function () =&gt; {}
  to the Promise constructor. However, this callback function actually receives
  two arguments. The value of the first argument, often called resolve or res,
  is the method to be called when the Promise should
  <strong>resolve</strong>. The value of the second argument, often called
  reject or rej, is the value method to be called when the Promise should
  <strong>reject</strong>, something went wrong.
</p>
<figure class="image">
  <img
    src="https://localhost:44324/images/blogs/ckeditor5/20200417094752847/description.jpg"
  />
</figure>
<p>
  Let's try and see that gets logged when we invoke either the resolve or reject
  method! In my example, I called the resolve method res, and the reject method
  rej.
</p>
<p>
  Awesome! We finally know how to get rid of the "pending" status and the
  undefined value! The <strong>status</strong> of a promise is "fulfilled" if we
  invoked the resolve method, and the status of the promise is "rejected" if we
  invoked the rejected method.
</p>
<p>
  The <strong>value</strong> of a promise, the value of [[PromiseValue]], is the
  value that we pass to the either the resolved or rejected method as their
  argument.
</p>
