<div class="my-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
    <li class="breadcrumb-item active">Tags Manager</li>
  </ol>
  <div class="btn-group mr-3 mb-3" role="group" *ngFor="let tag of tags">
    <button type="button" class="btn btn-info">#{{ tag.name }}</button>
    <button
      type="button"
      class="btn btn-secondary"
      data-toggle="modal"
      data-target="#delete-modal"
      (click)="bindTag(tag)"
    >
      x
    </button>
  </div>
  <div class="btn-group mr-3 mb-3" role="group">
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#create-modal"
    >
      Add
    </button>
    <tag-create (created)="onCreated($event)"></tag-create>
    <tag-delete
      (deleted)="onDeleted($event)"
      [tag]="bindingTag"
      *ngIf="bindingTag"
    ></tag-delete>
  </div>
</div>
