<div class="col-md-2 d-none d-lg-block">
  <img
    [src]="urlHost + comment.imageUrlUser"
    alt=""
    class="img rounded-circle img-fluid"
  />
</div>
<div class="col-lg-10">
  <div class="card-body">
    <h5 class="card-title">{{ comment.nameDisplayUser }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ comment.createdTime | date: "d/M/yy, h:mm a" }}
    </h6>
    <p class="card-text">
      {{ comment.commentContent }}
    </p>
  </div>
</div>
