<div class="container">
  <main role="main" class="mt-3 row">
    <router-outlet></router-outlet>

    <aside class="col-sm-3 mt-3">
      <div class="p-3 mb-3 text-center bg-light" *ngIf="currentUser === null">
        <img
          class="rounded-circle"
          [src]="urlHost + '/images/users/admin.jpg'"
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2 class="h2">Web Owner</h2>
        <p>About me: Nguyen Hieu Trung</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nisl
          bibendum, pharetra enim vitae, convallis velit.
        </p>
        <nav class="d-flex px-5">
          <a href="/"
            ><img
              [src]="urlHost + '/images/icons/facebook.svg'"
              alt="Facebook"
              class="w-50"
          /></a>
          <a href="/"
            ><img
              [src]="urlHost + '/images/icons/skype.svg'"
              alt="Skype"
              class="w-50"
          /></a>
          <a href="/"
            ><img
              [src]="urlHost + '/images/icons/linkedin.svg'"
              alt="Linkedin"
              class="w-50"
          /></a>
        </nav>
      </div>
      <div class="p-3 mb-3 text-center bg-light" *ngIf="currentUser !== null">
        <img
          class="rounded-circle"
          [src]="urlHost + currentUser.imageUrl"
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h3 class="h3">{{ currentUser.nameDisplay }}</h3>
        <p>
          {{ currentUser.email }}
        </p>
      </div>
      <div class="p-3 mb-3 text-center bg-light">
        <h2>Archives</h2>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
        </ol>
      </div>
    </aside>
  </main>
</div>
