<div class="col-sm-9 mt-3">
  <h1 class="h1">Create Blog</h1>
  <div id="blog-create-form" class="mt-3">
    <form #formCreateBlog="ngForm" (ngSubmit)="onSubmit(formCreateBlog)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          required
          name="title"
          ngModel
          #title="ngModel"
          id="title"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-valid': title.valid,
            'is-invalid': title.touched && title.invalid
          }"
        />
        <div class="invalid-feedback" *ngIf="title.touched && title.invalid">
          Please choose your title!!!
        </div>
      </div>
      <div class="form-group">
        <label for="imageDisplay">Image Display</label>
        <input
          required
          name="imageDisplay"
          ngModel
          #imageDisplay="ngModel"
          (change)="onChangeImage($event)"
          id="imageDisplay"
          type="file"
          class="form-control"
          [ngClass]="{
            'is-valid': imageDisplay.valid,
            'is-invalid': imageDisplay.touched && imageDisplay.invalid
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="imageDisplay.touched && imageDisplay.invalid"
        >
          Please choose a image!!!
        </div>
      </div>
      <div class="form-group">
        <label for="selectTags">Tags</label>
        <ng-select
          required
          name="tags"
          ngModel
          #tags="ngModel"
          id="selectTags"
          [ngClass]="{
            'is-valid': tags.valid,
            'is-invalid': tags.touched && tags.invalid
          }"
          [items]="tagsSelect"
          [bindLabel]="'name'"
          [multiple]="true"
        ></ng-select>
        <div class="invalid-feedback" *ngIf="tags.touched && tags.invalid">
          Please choose tags!!!
        </div>
      </div>
      <div class="form-group">
        <label for="htmlContent">Html Content</label>
        <ckeditor
          [editor]="Editor"
          [config]="config"
          required
          minlength="20"
          name="htmlContent"
          ngModel
          #htmlContent="ngModel"
          id="htmlContent"
          [ngClass]="{
            'is-valid': htmlContent.valid,
            'is-invalid': htmlContent.touched && htmlContent.invalid
          }"
        ></ckeditor>
        <div
          class="invalid-feedback"
          *ngIf="htmlContent.touched && htmlContent.invalid"
        >
          <ng-container *ngIf="htmlContent.errors.required"
            >Your content can't empty!!!!!!</ng-container
          >

          <ng-container *ngIf="htmlContent.errors.minlength"
            >Content should be minimum
            {{ htmlContent.errors.minlength.requiredLength }}
            characters!!!</ng-container
          >
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" type="button">Back to home</button>
        <button class="btn btn-primary px-5 float-right" type="submit">
          Post
        </button>
      </div>
    </form>
  </div>
</div>
