:host {
  display: contents;
}
:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
}

:host
  ::ng-deep
  #htmlContent.ng-touched.ng-invalid
  .ck-editor.ck-rounded-corners
  .ck-editor__editable_inline {
  border-color: #ff4136;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

:host
  ::ng-deep
  #htmlContent.ng-touched.ng-valid
  .ck-editor.ck-rounded-corners
  .ck-editor__editable_inline {
  border-color: #28b62c;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

:host
  ::ng-deep
  #htmlContent.ng-touched
  .ck-editor.ck-rounded-corners
  .ck-editor__editable_inline:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075);
}
