:host {
  display: contents;
}
/* Header Categories
-------------------------------------------------- */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 3rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.nav-scroller nav a {
  font-size: 16px;
}

.nav-scroller nav button.p-2.active {
  color: white;
  background-color: #158cba;
  border-color: #127ba3;
  border-style: solid;
  border-width: 0 1px 4px 1px;
}
