<div class="col-12 nav-scroller pt-1">
  <nav class="nav d-flex justify-content-between">
    <button
      class="p-2 btn btn-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngFor="let tag of tags"
      [routerLink]="tag.name !== 'all' ? ['/', tag.name] : ''"
    >
      #{{ tag.name }}
    </button>
  </nav>
</div>
