<div class="card mb-3 shadow">
  <img
    [routerLink]="['/blogs/', blog.id]"
    [src]="urlHost + blog.imageUrl"
    class="card-img-top blog-image-thumbnail cursor-pointer"
    alt="Blog Display"
  />
  <div class="card-body">
    <a
      class="card-title h4 multi-line-truncate"
      [routerLink]="['/blogs/', blog.id]"
    >
      {{ blog.title }}
    </a>
    <p class="card-text">
      Author: {{ blog.nameAuthor }} - Date:
      {{ blog.createdTime | date: "d/M/yy, h:mm a" }}
    </p>
    <div class="float-right">
      <a
        [routerLink]="['/', tag.name]"
        *ngFor="let tag of blog.tags"
        class="ml-3"
        ><span class="badge badge-info">#{{ tag.name }} </span></a
      >
    </div>
  </div>
</div>
