<!-- Create Modal -->
<div
  class="modal fade"
  id="create-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="create-modal-title">
          Create
        </h5>
        <button
          type="button"
          id="close-create-modal"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
          <div class="form-group">
            <label for="name">Name Tag</label>
            <input
              name
              required
              name="name"
              ngModel
              #name="ngModel"
              id="name"
              class="form-control"
              [ngClass]="{
                'is-valid': name.valid,
                'is-invalid': name.touched && name.invalid
              }"
              type="name"
              aria-describedby="name-help"
            />
            <div class="invalid-feedback" *ngIf="name.touched && name.invalid">
              Your name invalid!!!
            </div>
          </div>
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success float-right">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
