<app-tags-navbar></app-tags-navbar>
<div class="col-sm-9 mt-3">
  <div class="row">
    <div class="col-md-6" *ngFor="let blog of blogs">
      <blog-item [blog]="blog"></blog-item>
    </div>
    <div
      class="alert alert-dismissible alert-danger w-100"
      *ngIf="0 === blogs.length && loaded === true"
    >
      <h4 class="alert-heading">Don't have any blog to show!!!</h4>
      <p class="mb-0">Choose another tag.</p>
    </div>
    <div *ngIf="loadMoreAvailable" class="col-12 text-center my-3">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onClickLoadMore()"
        >
          Loadmore...
        </button>
        <!-- <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">Right</button> -->
      </div>
    </div>
  </div>
</div>
