<!-- Modal -->
<div
  class="modal fade"
  id="register-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="register-modal-lable"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="register-modal-title">
          Register
        </h5>
        <button
          type="button"
          id="close-register-modal"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #registerForm="ngForm"
          (ngSubmit)="onSubmit(registerForm)"
          [appMustMatch]="['password', 'confirmPassword']"
        >
          <div class="form-group">
            <label for="email-input">Email address</label>
            <input
              required
              email
              ngModel
              name="email"
              #email="ngModel"
              id="email-input"
              class="form-control"
              [ngClass]="{
                'is-valid': email.valid,
                'is-invalid': email.touched && email.invalid
              }"
              type="email"
              aria-describedby="email-help"
            />
            <div
              class="invalid-feedback"
              *ngIf="email.touched && email.invalid"
            >
              Your email invalid!!!
            </div>
            <small id="email-help" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="password-input">Password</label>
            <input
              required
              ngModel
              name="password"
              #password="ngModel"
              id="password-input"
              class="form-control"
              [ngClass]="{
                'is-valid': password.valid,
                'is-invalid': password.touched && password.invalid
              }"
              type="password"
              aria-describedby="password-help"
            />
            <div
              class="invalid-feedback"
              *ngIf="password.touched && password.invalid"
            >
              Please type your password!!!
            </div>
            <small id="password-help" class="form-text text-muted"
              >You should set password contains special characters...</small
            >
          </div>
          <div class="form-group">
            <label for="password-confirm-input">Confirm Password</label>
            <input
              required
              ngModel
              name="confirmPassword"
              #confirmPassword="ngModel"
              id="password-confirm-input"
              class="form-control"
              [ngClass]="{
                'is-valid': confirmPassword.valid,
                'is-invalid': confirmPassword.touched && confirmPassword.invalid
              }"
              type="password"
              aria-describedby="password-help"
            />
            <div
              class="invalid-feedback"
              *ngIf="confirmPassword.touched && confirmPassword.invalid"
            >
              <ng-container *ngIf="confirmPassword.errors.required"
                >Confirm your password!!!</ng-container
              >
              <ng-container *ngIf="confirmPassword.errors.mustMatch"
                >Password not match!!!</ng-container
              >
            </div>
            <small id="password-help" class="form-text text-muted"
              >You should set password contains special characters...</small
            >
          </div>
          <div class="form-group">
            <label for="namedisplay-input">Full Name</label>
            <input
              required
              minlength="3"
              [appInputFormat]="'titlecase'"
              ngModel
              name="nameDisplay"
              #nameDisplay="ngModel"
              id="namedisplay-input"
              class="form-control"
              [ngClass]="{
                'is-valid': nameDisplay.valid,
                'is-invalid': nameDisplay.touched && nameDisplay.invalid
              }"
              type="text"
            />
            <div
              class="invalid-feedback"
              *ngIf="nameDisplay.touched && nameDisplay.invalid"
            >
              <ng-container *ngIf="nameDisplay.errors.required"
                >Please fill your name!!!</ng-container
              >
              <ng-container *ngIf="nameDisplay.errors.minlength"
                >Name should be minimum
                {{ nameDisplay.errors.minlength.requiredLength }}
                characters!!!</ng-container
              >
            </div>
          </div>
          <div class="form-group">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary float-right">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
