@import "~bootswatch/dist/lumen/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/bootswatch";
@import "~ngx-toastr/toastr-bs4-alert.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.card-body a.h4 {
  color: black;
}
/* Blog Title Index Page
-------------------------------------------------- */
.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card .blog-image-thumbnail {
  height: 160px;
}

.shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
/* Author field in detail page
-------------------------------------------------- */
.author-field h4 img {
  width: 30px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.cursor-pointer {
  cursor: pointer;
}

// ng-select custom css
ng-select.ng-touched.ng-valid .ng-select-container {
  border-color: #28b62c;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}
ng-select.ng-touched.ng-invalid .ng-select-container {
  border-color: #ff4136;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}

figure.image img {
  max-width: 100%;
  height: auto;
}

#blog-content p {
  font-size: large;
}
#blog-content code {
  font-size: medium;
}
