<app-tags-navbar></app-tags-navbar>
<div class="col-sm-9 mt-3">
  <ng-container *ngIf="blogDetail.blogId !== null && blogDetail.blogId !== ''">
    <img [src]="urlHost + blogDetail.imageUrl" class="img-fluid" alt="Blog" />
    <h1 class="h1 pt-5">{{ blogDetail.title }}</h1>
    <div class="author-field">
      <h4 class="h4">
        <img
          [src]="urlHost + blogDetail.imageAuthorUrl"
          class="rounded-circle"
          alt="Author"
        /><span>{{ blogDetail.nameAuthor }}</span>
      </h4>
      <p>
        <a
          [routerLink]="['/', tag.name]"
          class="mr-3"
          *ngFor="let tag of blogDetail.tags"
        >
          <span class="badge badge-info">#{{ tag.name }}</span></a
        >
      </p>
    </div>
    <div
      id="blog-content"
      class="pt-2"
      [innerHtml]="blogDetail.htmlContent | dompurify"
    ></div>
  </ng-container>

  <ng-container *ngIf="blogDetail.blogId === null">
    <div class="notfound">
      <div class="notfound-404">
        <h1>404</h1>
      </div>
      <h2>Oops! This Blog Could Not Be Found</h2>
      <p>
        Sorry but the blog you are looking for does not exist, have been
        removed. name changed or is temporarily unavailable
      </p>
    </div>
  </ng-container>
  <app-comment-section [blogId]="currentBlogId"></app-comment-section>
</div>
