<div class="col-sm-9 mt-3">
  <ul class="nav">
    <li class="nav-item">
      <button
        class="btn btn-outline-dark mr-3"
        routerLink="tag-manager"
        routerLinkActive="active"
      >
        Tag Manager
      </button>
    </li>
    <li class="nav-item">
      <button
        class="btn btn-outline-dark mr-3"
        routerLink="blog-manager"
        routerLinkActive="active"
      >
        Blog Manager
      </button>
    </li>
    <li class="nav-item">
      <button
        class="btn btn-outline-dark mr-3"
        routerLink="user-manager"
        routerLinkActive="active"
      >
        User Manager
      </button>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
